.hover\:text-white:hover {
  color: var(--color-white);
}
.hover\:text-black:hover {
  color: var(--color-black);
}
.hover\:text-transparent:hover {
  color: var(--color-transparent);
}

.hover\:text-slate-50:hover {
  color: var(--color-slate-50);
}
.hover\:text-slate-100:hover {
  color: var(--color-slate-100);
}
.hover\:text-slate-200:hover {
  color: var(--color-slate-200);
}
.hover\:text-slate-300:hover {
  color: var(--color-slate-300);
}
.hover\:text-slate-400:hover {
  color: var(--color-slate-400);
}
.hover\:text-slate-500:hover {
  color: var(--color-slate-500);
}
.hover\:text-slate-600:hover {
  color: var(--color-slate-600);
}
.hover\:text-slate-700:hover {
  color: var(--color-slate-700);
}
.hover\:text-slate-800:hover {
  color: var(--color-slate-800);
}
.hover\:text-slate-900:hover {
  color: var(--color-slate-900);
}
.hover\:text-slate-950:hover {
  color: var(--color-slate-950);
}

.hover\:text-gray-50:hover {
  color: var(--color-gray-50);
}
.hover\:text-gray-100:hover {
  color: var(--color-gray-100);
}
.hover\:text-gray-200:hover {
  color: var(--color-gray-200);
}
.hover\:text-gray-300:hover {
  color: var(--color-gray-300);
}
.hover\:text-gray-400:hover {
  color: var(--color-gray-400);
}
.hover\:text-gray-500:hover {
  color: var(--color-gray-500);
}
.hover\:text-gray-600:hover {
  color: var(--color-gray-600);
}
.hover\:text-gray-700:hover {
  color: var(--color-gray-700);
}
.hover\:text-gray-800:hover {
  color: var(--color-gray-800);
}
.hover\:text-gray-900:hover {
  color: var(--color-gray-900);
}
.hover\:text-gray-950:hover {
  color: var(--color-gray-950);
}

.hover\:text-zinc-50:hover {
  color: var(--color-zinc-50);
}
.hover\:text-zinc-100:hover {
  color: var(--color-zinc-100);
}
.hover\:text-zinc-200:hover {
  color: var(--color-zinc-200);
}
.hover\:text-zinc-300:hover {
  color: var(--color-zinc-300);
}
.hover\:text-zinc-400:hover {
  color: var(--color-zinc-400);
}
.hover\:text-zinc-500:hover {
  color: var(--color-zinc-500);
}
.hover\:text-zinc-600:hover {
  color: var(--color-zinc-600);
}
.hover\:text-zinc-700:hover {
  color: var(--color-zinc-700);
}
.hover\:text-zinc-800:hover {
  color: var(--color-zinc-800);
}
.hover\:text-zinc-900:hover {
  color: var(--color-zinc-900);
}
.hover\:text-zinc-950:hover {
  color: var(--color-zinc-950);
}

.hover\:text-neutral-50:hover {
  color: var(--color-neutral-50);
}
.hover\:text-neutral-100:hover {
  color: var(--color-neutral-100);
}
.hover\:text-neutral-200:hover {
  color: var(--color-neutral-200);
}
.hover\:text-neutral-300:hover {
  color: var(--color-neutral-300);
}
.hover\:text-neutral-400:hover {
  color: var(--color-neutral-400);
}
.hover\:text-neutral-500:hover {
  color: var(--color-neutral-500);
}
.hover\:text-neutral-600:hover {
  color: var(--color-neutral-600);
}
.hover\:text-neutral-700:hover {
  color: var(--color-neutral-700);
}
.hover\:text-neutral-800:hover {
  color: var(--color-neutral-800);
}
.hover\:text-neutral-900:hover {
  color: var(--color-neutral-900);
}
.hover\:text-neutral-950:hover {
  color: var(--color-neutral-950);
}

.hover\:text-stone-50:hover {
  color: var(--color-stone-50);
}
.hover\:text-stone-100:hover {
  color: var(--color-stone-100);
}
.hover\:text-stone-200:hover {
  color: var(--color-stone-200);
}
.hover\:text-stone-300:hover {
  color: var(--color-stone-300);
}
.hover\:text-stone-400:hover {
  color: var(--color-stone-400);
}
.hover\:text-stone-500:hover {
  color: var(--color-stone-500);
}
.hover\:text-stone-600:hover {
  color: var(--color-stone-600);
}
.hover\:text-stone-700:hover {
  color: var(--color-stone-700);
}
.hover\:text-stone-800:hover {
  color: var(--color-stone-800);
}
.hover\:text-stone-900:hover {
  color: var(--color-stone-900);
}
.hover\:text-stone-950:hover {
  color: var(--color-stone-950);
}

.hover\:text-red-50:hover {
  color: var(--color-red-50);
}
.hover\:text-red-100:hover {
  color: var(--color-red-100);
}
.hover\:text-red-200:hover {
  color: var(--color-red-200);
}
.hover\:text-red-300:hover {
  color: var(--color-red-300);
}
.hover\:text-red-400:hover {
  color: var(--color-red-400);
}
.hover\:text-red-500:hover {
  color: var(--color-red-500);
}
.hover\:text-red-600:hover {
  color: var(--color-red-600);
}
.hover\:text-red-700:hover {
  color: var(--color-red-700);
}
.hover\:text-red-800:hover {
  color: var(--color-red-800);
}
.hover\:text-red-900:hover {
  color: var(--color-red-900);
}
.hover\:text-red-950:hover {
  color: var(--color-red-950);
}

.hover\:text-orange-50:hover {
  color: var(--color-orange-50);
}
.hover\:text-orange-100:hover {
  color: var(--color-orange-100);
}
.hover\:text-orange-200:hover {
  color: var(--color-orange-200);
}
.hover\:text-orange-300:hover {
  color: var(--color-orange-300);
}
.hover\:text-orange-400:hover {
  color: var(--color-orange-400);
}
.hover\:text-orange-500:hover {
  color: var(--color-orange-500);
}
.hover\:text-orange-600:hover {
  color: var(--color-orange-600);
}
.hover\:text-orange-700:hover {
  color: var(--color-orange-700);
}
.hover\:text-orange-800:hover {
  color: var(--color-orange-800);
}
.hover\:text-orange-900:hover {
  color: var(--color-orange-900);
}
.hover\:text-orange-950:hover {
  color: var(--color-orange-950);
}

.hover\:text-amber-50:hover {
  color: var(--color-amber-50);
}
.hover\:text-amber-100:hover {
  color: var(--color-amber-100);
}
.hover\:text-amber-200:hover {
  color: var(--color-amber-200);
}
.hover\:text-amber-300:hover {
  color: var(--color-amber-300);
}
.hover\:text-amber-400:hover {
  color: var(--color-amber-400);
}
.hover\:text-amber-500:hover {
  color: var(--color-amber-500);
}
.hover\:text-amber-600:hover {
  color: var(--color-amber-600);
}
.hover\:text-amber-700:hover {
  color: var(--color-amber-700);
}
.hover\:text-amber-800:hover {
  color: var(--color-amber-800);
}
.hover\:text-amber-900:hover {
  color: var(--color-amber-900);
}
.hover\:text-amber-950:hover {
  color: var(--color-amber-950);
}

.hover\:text-yellow-50:hover {
  color: var(--color-yellow-50);
}
.hover\:text-yellow-100:hover {
  color: var(--color-yellow-100);
}
.hover\:text-yellow-200:hover {
  color: var(--color-yellow-200);
}
.hover\:text-yellow-300:hover {
  color: var(--color-yellow-300);
}
.hover\:text-yellow-400:hover {
  color: var(--color-yellow-400);
}
.hover\:text-yellow-500:hover {
  color: var(--color-yellow-500);
}
.hover\:text-yellow-600:hover {
  color: var(--color-yellow-600);
}
.hover\:text-yellow-700:hover {
  color: var(--color-yellow-700);
}
.hover\:text-yellow-800:hover {
  color: var(--color-yellow-800);
}
.hover\:text-yellow-900:hover {
  color: var(--color-yellow-900);
}
.hover\:text-yellow-950:hover {
  color: var(--color-yellow-950);
}

.hover\:text-lime-50:hover {
  color: var(--color-lime-50);
}
.hover\:text-lime-100:hover {
  color: var(--color-lime-100);
}
.hover\:text-lime-200:hover {
  color: var(--color-lime-200);
}
.hover\:text-lime-300:hover {
  color: var(--color-lime-300);
}
.hover\:text-lime-400:hover {
  color: var(--color-lime-400);
}
.hover\:text-lime-500:hover {
  color: var(--color-lime-500);
}
.hover\:text-lime-600:hover {
  color: var(--color-lime-600);
}
.hover\:text-lime-700:hover {
  color: var(--color-lime-700);
}
.hover\:text-lime-800:hover {
  color: var(--color-lime-800);
}
.hover\:text-lime-900:hover {
  color: var(--color-lime-900);
}
.hover\:text-lime-950:hover {
  color: var(--color-lime-950);
}

.hover\:text-green-50:hover {
  color: var(--color-green-50);
}
.hover\:text-green-100:hover {
  color: var(--color-green-100);
}
.hover\:text-green-200:hover {
  color: var(--color-green-200);
}
.hover\:text-green-300:hover {
  color: var(--color-green-300);
}
.hover\:text-green-400:hover {
  color: var(--color-green-400);
}
.hover\:text-green-500:hover {
  color: var(--color-green-500);
}
.hover\:text-green-600:hover {
  color: var(--color-green-600);
}
.hover\:text-green-700:hover {
  color: var(--color-green-700);
}
.hover\:text-green-800:hover {
  color: var(--color-green-800);
}
.hover\:text-green-900:hover {
  color: var(--color-green-900);
}
.hover\:text-green-950:hover {
  color: var(--color-green-950);
}

.hover\:text-emerald-50:hover {
  color: var(--color-emerald-50);
}
.hover\:text-emerald-100:hover {
  color: var(--color-emerald-100);
}
.hover\:text-emerald-200:hover {
  color: var(--color-emerald-200);
}
.hover\:text-emerald-300:hover {
  color: var(--color-emerald-300);
}
.hover\:text-emerald-400:hover {
  color: var(--color-emerald-400);
}
.hover\:text-emerald-500:hover {
  color: var(--color-emerald-500);
}
.hover\:text-emerald-600:hover {
  color: var(--color-emerald-600);
}
.hover\:text-emerald-700:hover {
  color: var(--color-emerald-700);
}
.hover\:text-emerald-800:hover {
  color: var(--color-emerald-800);
}
.hover\:text-emerald-900:hover {
  color: var(--color-emerald-900);
}
.hover\:text-emerald-950:hover {
  color: var(--color-emerald-950);
}

.hover\:text-teal-50:hover {
  color: var(--color-teal-50);
}
.hover\:text-teal-100:hover {
  color: var(--color-teal-100);
}
.hover\:text-teal-200:hover {
  color: var(--color-teal-200);
}
.hover\:text-teal-300:hover {
  color: var(--color-teal-300);
}
.hover\:text-teal-400:hover {
  color: var(--color-teal-400);
}
.hover\:text-teal-500:hover {
  color: var(--color-teal-500);
}
.hover\:text-teal-600:hover {
  color: var(--color-teal-600);
}
.hover\:text-teal-700:hover {
  color: var(--color-teal-700);
}
.hover\:text-teal-800:hover {
  color: var(--color-teal-800);
}
.hover\:text-teal-900:hover {
  color: var(--color-teal-900);
}
.hover\:text-teal-950:hover {
  color: var(--color-teal-950);
}

.hover\:text-cyan-50:hover {
  color: var(--color-cyan-50);
}
.hover\:text-cyan-100:hover {
  color: var(--color-cyan-100);
}
.hover\:text-cyan-200:hover {
  color: var(--color-cyan-200);
}
.hover\:text-cyan-300:hover {
  color: var(--color-cyan-300);
}
.hover\:text-cyan-400:hover {
  color: var(--color-cyan-400);
}
.hover\:text-cyan-500:hover {
  color: var(--color-cyan-500);
}
.hover\:text-cyan-600:hover {
  color: var(--color-cyan-600);
}
.hover\:text-cyan-700:hover {
  color: var(--color-cyan-700);
}
.hover\:text-cyan-800:hover {
  color: var(--color-cyan-800);
}
.hover\:text-cyan-900:hover {
  color: var(--color-cyan-900);
}
.hover\:text-cyan-950:hover {
  color: var(--color-cyan-950);
}

.hover\:text-sky-50:hover {
  color: var(--color-sky-50);
}
.hover\:text-sky-100:hover {
  color: var(--color-sky-100);
}
.hover\:text-sky-200:hover {
  color: var(--color-sky-200);
}
.hover\:text-sky-300:hover {
  color: var(--color-sky-300);
}
.hover\:text-sky-400:hover {
  color: var(--color-sky-400);
}
.hover\:text-sky-500:hover {
  color: var(--color-sky-500);
}
.hover\:text-sky-600:hover {
  color: var(--color-sky-600);
}
.hover\:text-sky-700:hover {
  color: var(--color-sky-700);
}
.hover\:text-sky-800:hover {
  color: var(--color-sky-800);
}
.hover\:text-sky-900:hover {
  color: var(--color-sky-900);
}
.hover\:text-sky-950:hover {
  color: var(--color-sky-950);
}

.hover\:text-blue-50:hover {
  color: var(--color-blue-50);
}
.hover\:text-blue-100:hover {
  color: var(--color-blue-100);
}
.hover\:text-blue-200:hover {
  color: var(--color-blue-200);
}
.hover\:text-blue-300:hover {
  color: var(--color-blue-300);
}
.hover\:text-blue-400:hover {
  color: var(--color-blue-400);
}
.hover\:text-blue-500:hover {
  color: var(--color-blue-500);
}
.hover\:text-blue-600:hover {
  color: var(--color-blue-600);
}
.hover\:text-blue-700:hover {
  color: var(--color-blue-700);
}
.hover\:text-blue-800:hover {
  color: var(--color-blue-800);
}
.hover\:text-blue-900:hover {
  color: var(--color-blue-900);
}
.hover\:text-blue-950:hover {
  color: var(--color-blue-950);
}

.hover\:text-indigo-50:hover {
  color: var(--color-indigo-50);
}
.hover\:text-indigo-100:hover {
  color: var(--color-indigo-100);
}
.hover\:text-indigo-200:hover {
  color: var(--color-indigo-200);
}
.hover\:text-indigo-300:hover {
  color: var(--color-indigo-300);
}
.hover\:text-indigo-400:hover {
  color: var(--color-indigo-400);
}
.hover\:text-indigo-500:hover {
  color: var(--color-indigo-500);
}
.hover\:text-indigo-600:hover {
  color: var(--color-indigo-600);
}
.hover\:text-indigo-700:hover {
  color: var(--color-indigo-700);
}
.hover\:text-indigo-800:hover {
  color: var(--color-indigo-800);
}
.hover\:text-indigo-900:hover {
  color: var(--color-indigo-900);
}
.hover\:text-indigo-950:hover {
  color: var(--color-indigo-950);
}

.hover\:text-violet-50:hover {
  color: var(--color-violet-50);
}
.hover\:text-violet-100:hover {
  color: var(--color-violet-100);
}
.hover\:text-violet-200:hover {
  color: var(--color-violet-200);
}
.hover\:text-violet-300:hover {
  color: var(--color-violet-300);
}
.hover\:text-violet-400:hover {
  color: var(--color-violet-400);
}
.hover\:text-violet-500:hover {
  color: var(--color-violet-500);
}
.hover\:text-violet-600:hover {
  color: var(--color-violet-600);
}
.hover\:text-violet-700:hover {
  color: var(--color-violet-700);
}
.hover\:text-violet-800:hover {
  color: var(--color-violet-800);
}
.hover\:text-violet-900:hover {
  color: var(--color-violet-900);
}
.hover\:text-violet-950:hover {
  color: var(--color-violet-950);
}

.hover\:text-purple-50:hover {
  color: var(--color-purple-50);
}
.hover\:text-purple-100:hover {
  color: var(--color-purple-100);
}
.hover\:text-purple-200:hover {
  color: var(--color-purple-200);
}
.hover\:text-purple-300:hover {
  color: var(--color-purple-300);
}
.hover\:text-purple-400:hover {
  color: var(--color-purple-400);
}
.hover\:text-purple-500:hover {
  color: var(--color-purple-500);
}
.hover\:text-purple-600:hover {
  color: var(--color-purple-600);
}
.hover\:text-purple-700:hover {
  color: var(--color-purple-700);
}
.hover\:text-purple-800:hover {
  color: var(--color-purple-800);
}
.hover\:text-purple-900:hover {
  color: var(--color-purple-900);
}
.hover\:text-purple-950:hover {
  color: var(--color-purple-950);
}

.hover\:text-fuchsia-50:hover {
  color: var(--color-fuchsia-50);
}
.hover\:text-fuchsia-100:hover {
  color: var(--color-fuchsia-100);
}
.hover\:text-fuchsia-200:hover {
  color: var(--color-fuchsia-200);
}
.hover\:text-fuchsia-300:hover {
  color: var(--color-fuchsia-300);
}
.hover\:text-fuchsia-400:hover {
  color: var(--color-fuchsia-400);
}
.hover\:text-fuchsia-500:hover {
  color: var(--color-fuchsia-500);
}
.hover\:text-fuchsia-600:hover {
  color: var(--color-fuchsia-600);
}
.hover\:text-fuchsia-700:hover {
  color: var(--color-fuchsia-700);
}
.hover\:text-fuchsia-800:hover {
  color: var(--color-fuchsia-800);
}
.hover\:text-fuchsia-900:hover {
  color: var(--color-fuchsia-900);
}
.hover\:text-fuchsia-950:hover {
  color: var(--color-fuchsia-950);
}

.hover\:text-pink-50:hover {
  color: var(--color-pink-50);
}
.hover\:text-pink-100:hover {
  color: var(--color-pink-100);
}
.hover\:text-pink-200:hover {
  color: var(--color-pink-200);
}
.hover\:text-pink-300:hover {
  color: var(--color-pink-300);
}
.hover\:text-pink-400:hover {
  color: var(--color-pink-400);
}
.hover\:text-pink-500:hover {
  color: var(--color-pink-500);
}
.hover\:text-pink-600:hover {
  color: var(--color-pink-600);
}
.hover\:text-pink-700:hover {
  color: var(--color-pink-700);
}
.hover\:text-pink-800:hover {
  color: var(--color-pink-800);
}
.hover\:text-pink-900:hover {
  color: var(--color-pink-900);
}
.hover\:text-pink-950:hover {
  color: var(--color-pink-950);
}

.hover\:text-rose-50:hover {
  color: var(--color-rose-50);
}
.hover\:text-rose-100:hover {
  color: var(--color-rose-100);
}
.hover\:text-rose-200:hover {
  color: var(--color-rose-200);
}
.hover\:text-rose-300:hover {
  color: var(--color-rose-300);
}
.hover\:text-rose-400:hover {
  color: var(--color-rose-400);
}
.hover\:text-rose-500:hover {
  color: var(--color-rose-500);
}
.hover\:text-rose-600:hover {
  color: var(--color-rose-600);
}
.hover\:text-rose-700:hover {
  color: var(--color-rose-700);
}
.hover\:text-rose-800:hover {
  color: var(--color-rose-800);
}
.hover\:text-rose-900:hover {
  color: var(--color-rose-900);
}
.hover\:text-rose-950:hover {
  color: var(--color-rose-950);
}

@media (prefers-color-scheme: dark) {
  .dark\:hover\:text-white:hover {
    color: var(--color-white);
  }
  .dark\:hover\:text-black:hover {
    color: var(--color-black);
  }
  .dark\:hover\:text-transparent:hover {
    color: var(--color-transparent);
  }

  .dark\:hover\:text-slate-50:hover {
    color: var(--color-slate-50);
  }
  .dark\:hover\:text-slate-100:hover {
    color: var(--color-slate-100);
  }
  .dark\:hover\:text-slate-200:hover {
    color: var(--color-slate-200);
  }
  .dark\:hover\:text-slate-300:hover {
    color: var(--color-slate-300);
  }
  .dark\:hover\:text-slate-400:hover {
    color: var(--color-slate-400);
  }
  .dark\:hover\:text-slate-500:hover {
    color: var(--color-slate-500);
  }
  .dark\:hover\:text-slate-600:hover {
    color: var(--color-slate-600);
  }
  .dark\:hover\:text-slate-700:hover {
    color: var(--color-slate-700);
  }
  .dark\:hover\:text-slate-800:hover {
    color: var(--color-slate-800);
  }
  .dark\:hover\:text-slate-900:hover {
    color: var(--color-slate-900);
  }
  .dark\:hover\:text-slate-950:hover {
    color: var(--color-slate-950);
  }

  .dark\:hover\:text-gray-50:hover {
    color: var(--color-gray-50);
  }
  .dark\:hover\:text-gray-100:hover {
    color: var(--color-gray-100);
  }
  .dark\:hover\:text-gray-200:hover {
    color: var(--color-gray-200);
  }
  .dark\:hover\:text-gray-300:hover {
    color: var(--color-gray-300);
  }
  .dark\:hover\:text-gray-400:hover {
    color: var(--color-gray-400);
  }
  .dark\:hover\:text-gray-500:hover {
    color: var(--color-gray-500);
  }
  .dark\:hover\:text-gray-600:hover {
    color: var(--color-gray-600);
  }
  .dark\:hover\:text-gray-700:hover {
    color: var(--color-gray-700);
  }
  .dark\:hover\:text-gray-800:hover {
    color: var(--color-gray-800);
  }
  .dark\:hover\:text-gray-900:hover {
    color: var(--color-gray-900);
  }
  .dark\:hover\:text-gray-950:hover {
    color: var(--color-gray-950);
  }

  .dark\:hover\:text-zinc-50:hover {
    color: var(--color-zinc-50);
  }
  .dark\:hover\:text-zinc-100:hover {
    color: var(--color-zinc-100);
  }
  .dark\:hover\:text-zinc-200:hover {
    color: var(--color-zinc-200);
  }
  .dark\:hover\:text-zinc-300:hover {
    color: var(--color-zinc-300);
  }
  .dark\:hover\:text-zinc-400:hover {
    color: var(--color-zinc-400);
  }
  .dark\:hover\:text-zinc-500:hover {
    color: var(--color-zinc-500);
  }
  .dark\:hover\:text-zinc-600:hover {
    color: var(--color-zinc-600);
  }
  .dark\:hover\:text-zinc-700:hover {
    color: var(--color-zinc-700);
  }
  .dark\:hover\:text-zinc-800:hover {
    color: var(--color-zinc-800);
  }
  .dark\:hover\:text-zinc-900:hover {
    color: var(--color-zinc-900);
  }
  .dark\:hover\:text-zinc-950:hover {
    color: var(--color-zinc-950);
  }

  .dark\:hover\:text-neutral-50:hover {
    color: var(--color-neutral-50);
  }
  .dark\:hover\:text-neutral-100:hover {
    color: var(--color-neutral-100);
  }
  .dark\:hover\:text-neutral-200:hover {
    color: var(--color-neutral-200);
  }
  .dark\:hover\:text-neutral-300:hover {
    color: var(--color-neutral-300);
  }
  .dark\:hover\:text-neutral-400:hover {
    color: var(--color-neutral-400);
  }
  .dark\:hover\:text-neutral-500:hover {
    color: var(--color-neutral-500);
  }
  .dark\:hover\:text-neutral-600:hover {
    color: var(--color-neutral-600);
  }
  .dark\:hover\:text-neutral-700:hover {
    color: var(--color-neutral-700);
  }
  .dark\:hover\:text-neutral-800:hover {
    color: var(--color-neutral-800);
  }
  .dark\:hover\:text-neutral-900:hover {
    color: var(--color-neutral-900);
  }
  .dark\:hover\:text-neutral-950:hover {
    color: var(--color-neutral-950);
  }

  .dark\:hover\:text-stone-50:hover {
    color: var(--color-stone-50);
  }
  .dark\:hover\:text-stone-100:hover {
    color: var(--color-stone-100);
  }
  .dark\:hover\:text-stone-200:hover {
    color: var(--color-stone-200);
  }
  .dark\:hover\:text-stone-300:hover {
    color: var(--color-stone-300);
  }
  .dark\:hover\:text-stone-400:hover {
    color: var(--color-stone-400);
  }
  .dark\:hover\:text-stone-500:hover {
    color: var(--color-stone-500);
  }
  .dark\:hover\:text-stone-600:hover {
    color: var(--color-stone-600);
  }
  .dark\:hover\:text-stone-700:hover {
    color: var(--color-stone-700);
  }
  .dark\:hover\:text-stone-800:hover {
    color: var(--color-stone-800);
  }
  .dark\:hover\:text-stone-900:hover {
    color: var(--color-stone-900);
  }
  .dark\:hover\:text-stone-950:hover {
    color: var(--color-stone-950);
  }

  .dark\:hover\:text-red-50:hover {
    color: var(--color-red-50);
  }
  .dark\:hover\:text-red-100:hover {
    color: var(--color-red-100);
  }
  .dark\:hover\:text-red-200:hover {
    color: var(--color-red-200);
  }
  .dark\:hover\:text-red-300:hover {
    color: var(--color-red-300);
  }
  .dark\:hover\:text-red-400:hover {
    color: var(--color-red-400);
  }
  .dark\:hover\:text-red-500:hover {
    color: var(--color-red-500);
  }
  .dark\:hover\:text-red-600:hover {
    color: var(--color-red-600);
  }
  .dark\:hover\:text-red-700:hover {
    color: var(--color-red-700);
  }
  .dark\:hover\:text-red-800:hover {
    color: var(--color-red-800);
  }
  .dark\:hover\:text-red-900:hover {
    color: var(--color-red-900);
  }
  .dark\:hover\:text-red-950:hover {
    color: var(--color-red-950);
  }

  .dark\:hover\:text-orange-50:hover {
    color: var(--color-orange-50);
  }
  .dark\:hover\:text-orange-100:hover {
    color: var(--color-orange-100);
  }
  .dark\:hover\:text-orange-200:hover {
    color: var(--color-orange-200);
  }
  .dark\:hover\:text-orange-300:hover {
    color: var(--color-orange-300);
  }
  .dark\:hover\:text-orange-400:hover {
    color: var(--color-orange-400);
  }
  .dark\:hover\:text-orange-500:hover {
    color: var(--color-orange-500);
  }
  .dark\:hover\:text-orange-600:hover {
    color: var(--color-orange-600);
  }
  .dark\:hover\:text-orange-700:hover {
    color: var(--color-orange-700);
  }
  .dark\:hover\:text-orange-800:hover {
    color: var(--color-orange-800);
  }
  .dark\:hover\:text-orange-900:hover {
    color: var(--color-orange-900);
  }
  .dark\:hover\:text-orange-950:hover {
    color: var(--color-orange-950);
  }

  .dark\:hover\:text-amber-50:hover {
    color: var(--color-amber-50);
  }
  .dark\:hover\:text-amber-100:hover {
    color: var(--color-amber-100);
  }
  .dark\:hover\:text-amber-200:hover {
    color: var(--color-amber-200);
  }
  .dark\:hover\:text-amber-300:hover {
    color: var(--color-amber-300);
  }
  .dark\:hover\:text-amber-400:hover {
    color: var(--color-amber-400);
  }
  .dark\:hover\:text-amber-500:hover {
    color: var(--color-amber-500);
  }
  .dark\:hover\:text-amber-600:hover {
    color: var(--color-amber-600);
  }
  .dark\:hover\:text-amber-700:hover {
    color: var(--color-amber-700);
  }
  .dark\:hover\:text-amber-800:hover {
    color: var(--color-amber-800);
  }
  .dark\:hover\:text-amber-900:hover {
    color: var(--color-amber-900);
  }
  .dark\:hover\:text-amber-950:hover {
    color: var(--color-amber-950);
  }

  .dark\:hover\:text-yellow-50:hover {
    color: var(--color-yellow-50);
  }
  .dark\:hover\:text-yellow-100:hover {
    color: var(--color-yellow-100);
  }
  .dark\:hover\:text-yellow-200:hover {
    color: var(--color-yellow-200);
  }
  .dark\:hover\:text-yellow-300:hover {
    color: var(--color-yellow-300);
  }
  .dark\:hover\:text-yellow-400:hover {
    color: var(--color-yellow-400);
  }
  .dark\:hover\:text-yellow-500:hover {
    color: var(--color-yellow-500);
  }
  .dark\:hover\:text-yellow-600:hover {
    color: var(--color-yellow-600);
  }
  .dark\:hover\:text-yellow-700:hover {
    color: var(--color-yellow-700);
  }
  .dark\:hover\:text-yellow-800:hover {
    color: var(--color-yellow-800);
  }
  .dark\:hover\:text-yellow-900:hover {
    color: var(--color-yellow-900);
  }
  .dark\:hover\:text-yellow-950:hover {
    color: var(--color-yellow-950);
  }

  .dark\:hover\:text-lime-50:hover {
    color: var(--color-lime-50);
  }
  .dark\:hover\:text-lime-100:hover {
    color: var(--color-lime-100);
  }
  .dark\:hover\:text-lime-200:hover {
    color: var(--color-lime-200);
  }
  .dark\:hover\:text-lime-300:hover {
    color: var(--color-lime-300);
  }
  .dark\:hover\:text-lime-400:hover {
    color: var(--color-lime-400);
  }
  .dark\:hover\:text-lime-500:hover {
    color: var(--color-lime-500);
  }
  .dark\:hover\:text-lime-600:hover {
    color: var(--color-lime-600);
  }
  .dark\:hover\:text-lime-700:hover {
    color: var(--color-lime-700);
  }
  .dark\:hover\:text-lime-800:hover {
    color: var(--color-lime-800);
  }
  .dark\:hover\:text-lime-900:hover {
    color: var(--color-lime-900);
  }
  .dark\:hover\:text-lime-950:hover {
    color: var(--color-lime-950);
  }

  .dark\:hover\:text-green-50:hover {
    color: var(--color-green-50);
  }
  .dark\:hover\:text-green-100:hover {
    color: var(--color-green-100);
  }
  .dark\:hover\:text-green-200:hover {
    color: var(--color-green-200);
  }
  .dark\:hover\:text-green-300:hover {
    color: var(--color-green-300);
  }
  .dark\:hover\:text-green-400:hover {
    color: var(--color-green-400);
  }
  .dark\:hover\:text-green-500:hover {
    color: var(--color-green-500);
  }
  .dark\:hover\:text-green-600:hover {
    color: var(--color-green-600);
  }
  .dark\:hover\:text-green-700:hover {
    color: var(--color-green-700);
  }
  .dark\:hover\:text-green-800:hover {
    color: var(--color-green-800);
  }
  .dark\:hover\:text-green-900:hover {
    color: var(--color-green-900);
  }
  .dark\:hover\:text-green-950:hover {
    color: var(--color-green-950);
  }

  .dark\:hover\:text-emerald-50:hover {
    color: var(--color-emerald-50);
  }
  .dark\:hover\:text-emerald-100:hover {
    color: var(--color-emerald-100);
  }
  .dark\:hover\:text-emerald-200:hover {
    color: var(--color-emerald-200);
  }
  .dark\:hover\:text-emerald-300:hover {
    color: var(--color-emerald-300);
  }
  .dark\:hover\:text-emerald-400:hover {
    color: var(--color-emerald-400);
  }
  .dark\:hover\:text-emerald-500:hover {
    color: var(--color-emerald-500);
  }
  .dark\:hover\:text-emerald-600:hover {
    color: var(--color-emerald-600);
  }
  .dark\:hover\:text-emerald-700:hover {
    color: var(--color-emerald-700);
  }
  .dark\:hover\:text-emerald-800:hover {
    color: var(--color-emerald-800);
  }
  .dark\:hover\:text-emerald-900:hover {
    color: var(--color-emerald-900);
  }
  .dark\:hover\:text-emerald-950:hover {
    color: var(--color-emerald-950);
  }

  .dark\:hover\:text-teal-50:hover {
    color: var(--color-teal-50);
  }
  .dark\:hover\:text-teal-100:hover {
    color: var(--color-teal-100);
  }
  .dark\:hover\:text-teal-200:hover {
    color: var(--color-teal-200);
  }
  .dark\:hover\:text-teal-300:hover {
    color: var(--color-teal-300);
  }
  .dark\:hover\:text-teal-400:hover {
    color: var(--color-teal-400);
  }
  .dark\:hover\:text-teal-500:hover {
    color: var(--color-teal-500);
  }
  .dark\:hover\:text-teal-600:hover {
    color: var(--color-teal-600);
  }
  .dark\:hover\:text-teal-700:hover {
    color: var(--color-teal-700);
  }
  .dark\:hover\:text-teal-800:hover {
    color: var(--color-teal-800);
  }
  .dark\:hover\:text-teal-900:hover {
    color: var(--color-teal-900);
  }
  .dark\:hover\:text-teal-950:hover {
    color: var(--color-teal-950);
  }

  .dark\:hover\:text-cyan-50:hover {
    color: var(--color-cyan-50);
  }
  .dark\:hover\:text-cyan-100:hover {
    color: var(--color-cyan-100);
  }
  .dark\:hover\:text-cyan-200:hover {
    color: var(--color-cyan-200);
  }
  .dark\:hover\:text-cyan-300:hover {
    color: var(--color-cyan-300);
  }
  .dark\:hover\:text-cyan-400:hover {
    color: var(--color-cyan-400);
  }
  .dark\:hover\:text-cyan-500:hover {
    color: var(--color-cyan-500);
  }
  .dark\:hover\:text-cyan-600:hover {
    color: var(--color-cyan-600);
  }
  .dark\:hover\:text-cyan-700:hover {
    color: var(--color-cyan-700);
  }
  .dark\:hover\:text-cyan-800:hover {
    color: var(--color-cyan-800);
  }
  .dark\:hover\:text-cyan-900:hover {
    color: var(--color-cyan-900);
  }
  .dark\:hover\:text-cyan-950:hover {
    color: var(--color-cyan-950);
  }

  .dark\:hover\:text-sky-50:hover {
    color: var(--color-sky-50);
  }
  .dark\:hover\:text-sky-100:hover {
    color: var(--color-sky-100);
  }
  .dark\:hover\:text-sky-200:hover {
    color: var(--color-sky-200);
  }
  .dark\:hover\:text-sky-300:hover {
    color: var(--color-sky-300);
  }
  .dark\:hover\:text-sky-400:hover {
    color: var(--color-sky-400);
  }
  .dark\:hover\:text-sky-500:hover {
    color: var(--color-sky-500);
  }
  .dark\:hover\:text-sky-600:hover {
    color: var(--color-sky-600);
  }
  .dark\:hover\:text-sky-700:hover {
    color: var(--color-sky-700);
  }
  .dark\:hover\:text-sky-800:hover {
    color: var(--color-sky-800);
  }
  .dark\:hover\:text-sky-900:hover {
    color: var(--color-sky-900);
  }
  .dark\:hover\:text-sky-950:hover {
    color: var(--color-sky-950);
  }

  .dark\:hover\:text-blue-50:hover {
    color: var(--color-blue-50);
  }
  .dark\:hover\:text-blue-100:hover {
    color: var(--color-blue-100);
  }
  .dark\:hover\:text-blue-200:hover {
    color: var(--color-blue-200);
  }
  .dark\:hover\:text-blue-300:hover {
    color: var(--color-blue-300);
  }
  .dark\:hover\:text-blue-400:hover {
    color: var(--color-blue-400);
  }
  .dark\:hover\:text-blue-500:hover {
    color: var(--color-blue-500);
  }
  .dark\:hover\:text-blue-600:hover {
    color: var(--color-blue-600);
  }
  .dark\:hover\:text-blue-700:hover {
    color: var(--color-blue-700);
  }
  .dark\:hover\:text-blue-800:hover {
    color: var(--color-blue-800);
  }
  .dark\:hover\:text-blue-900:hover {
    color: var(--color-blue-900);
  }
  .dark\:hover\:text-blue-950:hover {
    color: var(--color-blue-950);
  }

  .dark\:hover\:text-indigo-50:hover {
    color: var(--color-indigo-50);
  }
  .dark\:hover\:text-indigo-100:hover {
    color: var(--color-indigo-100);
  }
  .dark\:hover\:text-indigo-200:hover {
    color: var(--color-indigo-200);
  }
  .dark\:hover\:text-indigo-300:hover {
    color: var(--color-indigo-300);
  }
  .dark\:hover\:text-indigo-400:hover {
    color: var(--color-indigo-400);
  }
  .dark\:hover\:text-indigo-500:hover {
    color: var(--color-indigo-500);
  }
  .dark\:hover\:text-indigo-600:hover {
    color: var(--color-indigo-600);
  }
  .dark\:hover\:text-indigo-700:hover {
    color: var(--color-indigo-700);
  }
  .dark\:hover\:text-indigo-800:hover {
    color: var(--color-indigo-800);
  }
  .dark\:hover\:text-indigo-900:hover {
    color: var(--color-indigo-900);
  }
  .dark\:hover\:text-indigo-950:hover {
    color: var(--color-indigo-950);
  }

  .dark\:hover\:text-violet-50:hover {
    color: var(--color-violet-50);
  }
  .dark\:hover\:text-violet-100:hover {
    color: var(--color-violet-100);
  }
  .dark\:hover\:text-violet-200:hover {
    color: var(--color-violet-200);
  }
  .dark\:hover\:text-violet-300:hover {
    color: var(--color-violet-300);
  }
  .dark\:hover\:text-violet-400:hover {
    color: var(--color-violet-400);
  }
  .dark\:hover\:text-violet-500:hover {
    color: var(--color-violet-500);
  }
  .dark\:hover\:text-violet-600:hover {
    color: var(--color-violet-600);
  }
  .dark\:hover\:text-violet-700:hover {
    color: var(--color-violet-700);
  }
  .dark\:hover\:text-violet-800:hover {
    color: var(--color-violet-800);
  }
  .dark\:hover\:text-violet-900:hover {
    color: var(--color-violet-900);
  }
  .dark\:hover\:text-violet-950:hover {
    color: var(--color-violet-950);
  }

  .dark\:hover\:text-purple-50:hover {
    color: var(--color-purple-50);
  }
  .dark\:hover\:text-purple-100:hover {
    color: var(--color-purple-100);
  }
  .dark\:hover\:text-purple-200:hover {
    color: var(--color-purple-200);
  }
  .dark\:hover\:text-purple-300:hover {
    color: var(--color-purple-300);
  }
  .dark\:hover\:text-purple-400:hover {
    color: var(--color-purple-400);
  }
  .dark\:hover\:text-purple-500:hover {
    color: var(--color-purple-500);
  }
  .dark\:hover\:text-purple-600:hover {
    color: var(--color-purple-600);
  }
  .dark\:hover\:text-purple-700:hover {
    color: var(--color-purple-700);
  }
  .dark\:hover\:text-purple-800:hover {
    color: var(--color-purple-800);
  }
  .dark\:hover\:text-purple-900:hover {
    color: var(--color-purple-900);
  }
  .dark\:hover\:text-purple-950:hover {
    color: var(--color-purple-950);
  }

  .dark\:hover\:text-fuchsia-50:hover {
    color: var(--color-fuchsia-50);
  }
  .dark\:hover\:text-fuchsia-100:hover {
    color: var(--color-fuchsia-100);
  }
  .dark\:hover\:text-fuchsia-200:hover {
    color: var(--color-fuchsia-200);
  }
  .dark\:hover\:text-fuchsia-300:hover {
    color: var(--color-fuchsia-300);
  }
  .dark\:hover\:text-fuchsia-400:hover {
    color: var(--color-fuchsia-400);
  }
  .dark\:hover\:text-fuchsia-500:hover {
    color: var(--color-fuchsia-500);
  }
  .dark\:hover\:text-fuchsia-600:hover {
    color: var(--color-fuchsia-600);
  }
  .dark\:hover\:text-fuchsia-700:hover {
    color: var(--color-fuchsia-700);
  }
  .dark\:hover\:text-fuchsia-800:hover {
    color: var(--color-fuchsia-800);
  }
  .dark\:hover\:text-fuchsia-900:hover {
    color: var(--color-fuchsia-900);
  }
  .dark\:hover\:text-fuchsia-950:hover {
    color: var(--color-fuchsia-950);
  }

  .dark\:hover\:text-pink-50:hover {
    color: var(--color-pink-50);
  }
  .dark\:hover\:text-pink-100:hover {
    color: var(--color-pink-100);
  }
  .dark\:hover\:text-pink-200:hover {
    color: var(--color-pink-200);
  }
  .dark\:hover\:text-pink-300:hover {
    color: var(--color-pink-300);
  }
  .dark\:hover\:text-pink-400:hover {
    color: var(--color-pink-400);
  }
  .dark\:hover\:text-pink-500:hover {
    color: var(--color-pink-500);
  }
  .dark\:hover\:text-pink-600:hover {
    color: var(--color-pink-600);
  }
  .dark\:hover\:text-pink-700:hover {
    color: var(--color-pink-700);
  }
  .dark\:hover\:text-pink-800:hover {
    color: var(--color-pink-800);
  }
  .dark\:hover\:text-pink-900:hover {
    color: var(--color-pink-900);
  }
  .dark\:hover\:text-pink-950:hover {
    color: var(--color-pink-950);
  }

  .dark\:hover\:text-rose-50:hover {
    color: var(--color-rose-50);
  }
  .dark\:hover\:text-rose-100:hover {
    color: var(--color-rose-100);
  }
  .dark\:hover\:text-rose-200:hover {
    color: var(--color-rose-200);
  }
  .dark\:hover\:text-rose-300:hover {
    color: var(--color-rose-300);
  }
  .dark\:hover\:text-rose-400:hover {
    color: var(--color-rose-400);
  }
  .dark\:hover\:text-rose-500:hover {
    color: var(--color-rose-500);
  }
  .dark\:hover\:text-rose-600:hover {
    color: var(--color-rose-600);
  }
  .dark\:hover\:text-rose-700:hover {
    color: var(--color-rose-700);
  }
  .dark\:hover\:text-rose-800:hover {
    color: var(--color-rose-800);
  }
  .dark\:hover\:text-rose-900:hover {
    color: var(--color-rose-900);
  }
  .dark\:hover\:text-rose-950:hover {
    color: var(--color-rose-950);
  }
}
