.text-white {
  color: var(--color-white);
}
.text-black {
  color: var(--color-black);
}
.text-transparent {
  color: var(--color-transparent);
}

.text-slate-50 {
  color: var(--color-slate-50);
}
.text-slate-100 {
  color: var(--color-slate-100);
}
.text-slate-200 {
  color: var(--color-slate-200);
}
.text-slate-300 {
  color: var(--color-slate-300);
}
.text-slate-400 {
  color: var(--color-slate-400);
}
.text-slate-500 {
  color: var(--color-slate-500);
}
.text-slate-600 {
  color: var(--color-slate-600);
}
.text-slate-700 {
  color: var(--color-slate-700);
}
.text-slate-800 {
  color: var(--color-slate-800);
}
.text-slate-900 {
  color: var(--color-slate-900);
}
.text-slate-950 {
  color: var(--color-slate-950);
}

.text-gray-50 {
  color: var(--color-gray-50);
}
.text-gray-100 {
  color: var(--color-gray-100);
}
.text-gray-200 {
  color: var(--color-gray-200);
}
.text-gray-300 {
  color: var(--color-gray-300);
}
.text-gray-400 {
  color: var(--color-gray-400);
}
.text-gray-500 {
  color: var(--color-gray-500);
}
.text-gray-600 {
  color: var(--color-gray-600);
}
.text-gray-700 {
  color: var(--color-gray-700);
}
.text-gray-800 {
  color: var(--color-gray-800);
}
.text-gray-900 {
  color: var(--color-gray-900);
}
.text-gray-950 {
  color: var(--color-gray-950);
}

.text-zinc-50 {
  color: var(--color-zinc-50);
}
.text-zinc-100 {
  color: var(--color-zinc-100);
}
.text-zinc-200 {
  color: var(--color-zinc-200);
}
.text-zinc-300 {
  color: var(--color-zinc-300);
}
.text-zinc-400 {
  color: var(--color-zinc-400);
}
.text-zinc-500 {
  color: var(--color-zinc-500);
}
.text-zinc-600 {
  color: var(--color-zinc-600);
}
.text-zinc-700 {
  color: var(--color-zinc-700);
}
.text-zinc-800 {
  color: var(--color-zinc-800);
}
.text-zinc-900 {
  color: var(--color-zinc-900);
}
.text-zinc-950 {
  color: var(--color-zinc-950);
}

.text-neutral-50 {
  color: var(--color-neutral-50);
}
.text-neutral-100 {
  color: var(--color-neutral-100);
}
.text-neutral-200 {
  color: var(--color-neutral-200);
}
.text-neutral-300 {
  color: var(--color-neutral-300);
}
.text-neutral-400 {
  color: var(--color-neutral-400);
}
.text-neutral-500 {
  color: var(--color-neutral-500);
}
.text-neutral-600 {
  color: var(--color-neutral-600);
}
.text-neutral-700 {
  color: var(--color-neutral-700);
}
.text-neutral-800 {
  color: var(--color-neutral-800);
}
.text-neutral-900 {
  color: var(--color-neutral-900);
}
.text-neutral-950 {
  color: var(--color-neutral-950);
}

.text-stone-50 {
  color: var(--color-stone-50);
}
.text-stone-100 {
  color: var(--color-stone-100);
}
.text-stone-200 {
  color: var(--color-stone-200);
}
.text-stone-300 {
  color: var(--color-stone-300);
}
.text-stone-400 {
  color: var(--color-stone-400);
}
.text-stone-500 {
  color: var(--color-stone-500);
}
.text-stone-600 {
  color: var(--color-stone-600);
}
.text-stone-700 {
  color: var(--color-stone-700);
}
.text-stone-800 {
  color: var(--color-stone-800);
}
.text-stone-900 {
  color: var(--color-stone-900);
}
.text-stone-950 {
  color: var(--color-stone-950);
}

.text-red-50 {
  color: var(--color-red-50);
}
.text-red-100 {
  color: var(--color-red-100);
}
.text-red-200 {
  color: var(--color-red-200);
}
.text-red-300 {
  color: var(--color-red-300);
}
.text-red-400 {
  color: var(--color-red-400);
}
.text-red-500 {
  color: var(--color-red-500);
}
.text-red-600 {
  color: var(--color-red-600);
}
.text-red-700 {
  color: var(--color-red-700);
}
.text-red-800 {
  color: var(--color-red-800);
}
.text-red-900 {
  color: var(--color-red-900);
}
.text-red-950 {
  color: var(--color-red-950);
}

.text-orange-50 {
  color: var(--color-orange-50);
}
.text-orange-100 {
  color: var(--color-orange-100);
}
.text-orange-200 {
  color: var(--color-orange-200);
}
.text-orange-300 {
  color: var(--color-orange-300);
}
.text-orange-400 {
  color: var(--color-orange-400);
}
.text-orange-500 {
  color: var(--color-orange-500);
}
.text-orange-600 {
  color: var(--color-orange-600);
}
.text-orange-700 {
  color: var(--color-orange-700);
}
.text-orange-800 {
  color: var(--color-orange-800);
}
.text-orange-900 {
  color: var(--color-orange-900);
}
.text-orange-950 {
  color: var(--color-orange-950);
}

.text-amber-50 {
  color: var(--color-amber-50);
}
.text-amber-100 {
  color: var(--color-amber-100);
}
.text-amber-200 {
  color: var(--color-amber-200);
}
.text-amber-300 {
  color: var(--color-amber-300);
}
.text-amber-400 {
  color: var(--color-amber-400);
}
.text-amber-500 {
  color: var(--color-amber-500);
}
.text-amber-600 {
  color: var(--color-amber-600);
}
.text-amber-700 {
  color: var(--color-amber-700);
}
.text-amber-800 {
  color: var(--color-amber-800);
}
.text-amber-900 {
  color: var(--color-amber-900);
}
.text-amber-950 {
  color: var(--color-amber-950);
}

.text-yellow-50 {
  color: var(--color-yellow-50);
}
.text-yellow-100 {
  color: var(--color-yellow-100);
}
.text-yellow-200 {
  color: var(--color-yellow-200);
}
.text-yellow-300 {
  color: var(--color-yellow-300);
}
.text-yellow-400 {
  color: var(--color-yellow-400);
}
.text-yellow-500 {
  color: var(--color-yellow-500);
}
.text-yellow-600 {
  color: var(--color-yellow-600);
}
.text-yellow-700 {
  color: var(--color-yellow-700);
}
.text-yellow-800 {
  color: var(--color-yellow-800);
}
.text-yellow-900 {
  color: var(--color-yellow-900);
}
.text-yellow-950 {
  color: var(--color-yellow-950);
}

.text-lime-50 {
  color: var(--color-lime-50);
}
.text-lime-100 {
  color: var(--color-lime-100);
}
.text-lime-200 {
  color: var(--color-lime-200);
}
.text-lime-300 {
  color: var(--color-lime-300);
}
.text-lime-400 {
  color: var(--color-lime-400);
}
.text-lime-500 {
  color: var(--color-lime-500);
}
.text-lime-600 {
  color: var(--color-lime-600);
}
.text-lime-700 {
  color: var(--color-lime-700);
}
.text-lime-800 {
  color: var(--color-lime-800);
}
.text-lime-900 {
  color: var(--color-lime-900);
}
.text-lime-950 {
  color: var(--color-lime-950);
}

.text-green-50 {
  color: var(--color-green-50);
}
.text-green-100 {
  color: var(--color-green-100);
}
.text-green-200 {
  color: var(--color-green-200);
}
.text-green-300 {
  color: var(--color-green-300);
}
.text-green-400 {
  color: var(--color-green-400);
}
.text-green-500 {
  color: var(--color-green-500);
}
.text-green-600 {
  color: var(--color-green-600);
}
.text-green-700 {
  color: var(--color-green-700);
}
.text-green-800 {
  color: var(--color-green-800);
}
.text-green-900 {
  color: var(--color-green-900);
}
.text-green-950 {
  color: var(--color-green-950);
}

.text-emerald-50 {
  color: var(--color-emerald-50);
}
.text-emerald-100 {
  color: var(--color-emerald-100);
}
.text-emerald-200 {
  color: var(--color-emerald-200);
}
.text-emerald-300 {
  color: var(--color-emerald-300);
}
.text-emerald-400 {
  color: var(--color-emerald-400);
}
.text-emerald-500 {
  color: var(--color-emerald-500);
}
.text-emerald-600 {
  color: var(--color-emerald-600);
}
.text-emerald-700 {
  color: var(--color-emerald-700);
}
.text-emerald-800 {
  color: var(--color-emerald-800);
}
.text-emerald-900 {
  color: var(--color-emerald-900);
}
.text-emerald-950 {
  color: var(--color-emerald-950);
}

.text-teal-50 {
  color: var(--color-teal-50);
}
.text-teal-100 {
  color: var(--color-teal-100);
}
.text-teal-200 {
  color: var(--color-teal-200);
}
.text-teal-300 {
  color: var(--color-teal-300);
}
.text-teal-400 {
  color: var(--color-teal-400);
}
.text-teal-500 {
  color: var(--color-teal-500);
}
.text-teal-600 {
  color: var(--color-teal-600);
}
.text-teal-700 {
  color: var(--color-teal-700);
}
.text-teal-800 {
  color: var(--color-teal-800);
}
.text-teal-900 {
  color: var(--color-teal-900);
}
.text-teal-950 {
  color: var(--color-teal-950);
}

.text-cyan-50 {
  color: var(--color-cyan-50);
}
.text-cyan-100 {
  color: var(--color-cyan-100);
}
.text-cyan-200 {
  color: var(--color-cyan-200);
}
.text-cyan-300 {
  color: var(--color-cyan-300);
}
.text-cyan-400 {
  color: var(--color-cyan-400);
}
.text-cyan-500 {
  color: var(--color-cyan-500);
}
.text-cyan-600 {
  color: var(--color-cyan-600);
}
.text-cyan-700 {
  color: var(--color-cyan-700);
}
.text-cyan-800 {
  color: var(--color-cyan-800);
}
.text-cyan-900 {
  color: var(--color-cyan-900);
}
.text-cyan-950 {
  color: var(--color-cyan-950);
}

.text-sky-50 {
  color: var(--color-sky-50);
}
.text-sky-100 {
  color: var(--color-sky-100);
}
.text-sky-200 {
  color: var(--color-sky-200);
}
.text-sky-300 {
  color: var(--color-sky-300);
}
.text-sky-400 {
  color: var(--color-sky-400);
}
.text-sky-500 {
  color: var(--color-sky-500);
}
.text-sky-600 {
  color: var(--color-sky-600);
}
.text-sky-700 {
  color: var(--color-sky-700);
}
.text-sky-800 {
  color: var(--color-sky-800);
}
.text-sky-900 {
  color: var(--color-sky-900);
}
.text-sky-950 {
  color: var(--color-sky-950);
}

.text-blue-50 {
  color: var(--color-blue-50);
}
.text-blue-100 {
  color: var(--color-blue-100);
}
.text-blue-200 {
  color: var(--color-blue-200);
}
.text-blue-300 {
  color: var(--color-blue-300);
}
.text-blue-400 {
  color: var(--color-blue-400);
}
.text-blue-500 {
  color: var(--color-blue-500);
}
.text-blue-600 {
  color: var(--color-blue-600);
}
.text-blue-700 {
  color: var(--color-blue-700);
}
.text-blue-800 {
  color: var(--color-blue-800);
}
.text-blue-900 {
  color: var(--color-blue-900);
}
.text-blue-950 {
  color: var(--color-blue-950);
}

.text-indigo-50 {
  color: var(--color-indigo-50);
}
.text-indigo-100 {
  color: var(--color-indigo-100);
}
.text-indigo-200 {
  color: var(--color-indigo-200);
}
.text-indigo-300 {
  color: var(--color-indigo-300);
}
.text-indigo-400 {
  color: var(--color-indigo-400);
}
.text-indigo-500 {
  color: var(--color-indigo-500);
}
.text-indigo-600 {
  color: var(--color-indigo-600);
}
.text-indigo-700 {
  color: var(--color-indigo-700);
}
.text-indigo-800 {
  color: var(--color-indigo-800);
}
.text-indigo-900 {
  color: var(--color-indigo-900);
}
.text-indigo-950 {
  color: var(--color-indigo-950);
}

.text-violet-50 {
  color: var(--color-violet-50);
}
.text-violet-100 {
  color: var(--color-violet-100);
}
.text-violet-200 {
  color: var(--color-violet-200);
}
.text-violet-300 {
  color: var(--color-violet-300);
}
.text-violet-400 {
  color: var(--color-violet-400);
}
.text-violet-500 {
  color: var(--color-violet-500);
}
.text-violet-600 {
  color: var(--color-violet-600);
}
.text-violet-700 {
  color: var(--color-violet-700);
}
.text-violet-800 {
  color: var(--color-violet-800);
}
.text-violet-900 {
  color: var(--color-violet-900);
}
.text-violet-950 {
  color: var(--color-violet-950);
}

.text-purple-50 {
  color: var(--color-purple-50);
}
.text-purple-100 {
  color: var(--color-purple-100);
}
.text-purple-200 {
  color: var(--color-purple-200);
}
.text-purple-300 {
  color: var(--color-purple-300);
}
.text-purple-400 {
  color: var(--color-purple-400);
}
.text-purple-500 {
  color: var(--color-purple-500);
}
.text-purple-600 {
  color: var(--color-purple-600);
}
.text-purple-700 {
  color: var(--color-purple-700);
}
.text-purple-800 {
  color: var(--color-purple-800);
}
.text-purple-900 {
  color: var(--color-purple-900);
}
.text-purple-950 {
  color: var(--color-purple-950);
}

.text-fuchsia-50 {
  color: var(--color-fuchsia-50);
}
.text-fuchsia-100 {
  color: var(--color-fuchsia-100);
}
.text-fuchsia-200 {
  color: var(--color-fuchsia-200);
}
.text-fuchsia-300 {
  color: var(--color-fuchsia-300);
}
.text-fuchsia-400 {
  color: var(--color-fuchsia-400);
}
.text-fuchsia-500 {
  color: var(--color-fuchsia-500);
}
.text-fuchsia-600 {
  color: var(--color-fuchsia-600);
}
.text-fuchsia-700 {
  color: var(--color-fuchsia-700);
}
.text-fuchsia-800 {
  color: var(--color-fuchsia-800);
}
.text-fuchsia-900 {
  color: var(--color-fuchsia-900);
}
.text-fuchsia-950 {
  color: var(--color-fuchsia-950);
}

.text-pink-50 {
  color: var(--color-pink-50);
}
.text-pink-100 {
  color: var(--color-pink-100);
}
.text-pink-200 {
  color: var(--color-pink-200);
}
.text-pink-300 {
  color: var(--color-pink-300);
}
.text-pink-400 {
  color: var(--color-pink-400);
}
.text-pink-500 {
  color: var(--color-pink-500);
}
.text-pink-600 {
  color: var(--color-pink-600);
}
.text-pink-700 {
  color: var(--color-pink-700);
}
.text-pink-800 {
  color: var(--color-pink-800);
}
.text-pink-900 {
  color: var(--color-pink-900);
}
.text-pink-950 {
  color: var(--color-pink-950);
}

.text-rose-50 {
  color: var(--color-rose-50);
}
.text-rose-100 {
  color: var(--color-rose-100);
}
.text-rose-200 {
  color: var(--color-rose-200);
}
.text-rose-300 {
  color: var(--color-rose-300);
}
.text-rose-400 {
  color: var(--color-rose-400);
}
.text-rose-500 {
  color: var(--color-rose-500);
}
.text-rose-600 {
  color: var(--color-rose-600);
}
.text-rose-700 {
  color: var(--color-rose-700);
}
.text-rose-800 {
  color: var(--color-rose-800);
}
.text-rose-900 {
  color: var(--color-rose-900);
}
.text-rose-950 {
  color: var(--color-rose-950);
}

@media (prefers-color-scheme: dark) {
  .dark\:text-white {
    color: var(--color-white);
  }
  .dark\:text-black {
    color: var(--color-black);
  }
  .dark\:text-transparent {
    color: var(--color-transparent);
  }

  .dark\:text-slate-50 {
    color: var(--color-slate-50);
  }
  .dark\:text-slate-100 {
    color: var(--color-slate-100);
  }
  .dark\:text-slate-200 {
    color: var(--color-slate-200);
  }
  .dark\:text-slate-300 {
    color: var(--color-slate-300);
  }
  .dark\:text-slate-400 {
    color: var(--color-slate-400);
  }
  .dark\:text-slate-500 {
    color: var(--color-slate-500);
  }
  .dark\:text-slate-600 {
    color: var(--color-slate-600);
  }
  .dark\:text-slate-700 {
    color: var(--color-slate-700);
  }
  .dark\:text-slate-800 {
    color: var(--color-slate-800);
  }
  .dark\:text-slate-900 {
    color: var(--color-slate-900);
  }
  .dark\:text-slate-950 {
    color: var(--color-slate-950);
  }

  .dark\:text-gray-50 {
    color: var(--color-gray-50);
  }
  .dark\:text-gray-100 {
    color: var(--color-gray-100);
  }
  .dark\:text-gray-200 {
    color: var(--color-gray-200);
  }
  .dark\:text-gray-300 {
    color: var(--color-gray-300);
  }
  .dark\:text-gray-400 {
    color: var(--color-gray-400);
  }
  .dark\:text-gray-500 {
    color: var(--color-gray-500);
  }
  .dark\:text-gray-600 {
    color: var(--color-gray-600);
  }
  .dark\:text-gray-700 {
    color: var(--color-gray-700);
  }
  .dark\:text-gray-800 {
    color: var(--color-gray-800);
  }
  .dark\:text-gray-900 {
    color: var(--color-gray-900);
  }
  .dark\:text-gray-950 {
    color: var(--color-gray-950);
  }

  .dark\:text-zinc-50 {
    color: var(--color-zinc-50);
  }
  .dark\:text-zinc-100 {
    color: var(--color-zinc-100);
  }
  .dark\:text-zinc-200 {
    color: var(--color-zinc-200);
  }
  .dark\:text-zinc-300 {
    color: var(--color-zinc-300);
  }
  .dark\:text-zinc-400 {
    color: var(--color-zinc-400);
  }
  .dark\:text-zinc-500 {
    color: var(--color-zinc-500);
  }
  .dark\:text-zinc-600 {
    color: var(--color-zinc-600);
  }
  .dark\:text-zinc-700 {
    color: var(--color-zinc-700);
  }
  .dark\:text-zinc-800 {
    color: var(--color-zinc-800);
  }
  .dark\:text-zinc-900 {
    color: var(--color-zinc-900);
  }
  .dark\:text-zinc-950 {
    color: var(--color-zinc-950);
  }

  .dark\:text-neutral-50 {
    color: var(--color-neutral-50);
  }
  .dark\:text-neutral-100 {
    color: var(--color-neutral-100);
  }
  .dark\:text-neutral-200 {
    color: var(--color-neutral-200);
  }
  .dark\:text-neutral-300 {
    color: var(--color-neutral-300);
  }
  .dark\:text-neutral-400 {
    color: var(--color-neutral-400);
  }
  .dark\:text-neutral-500 {
    color: var(--color-neutral-500);
  }
  .dark\:text-neutral-600 {
    color: var(--color-neutral-600);
  }
  .dark\:text-neutral-700 {
    color: var(--color-neutral-700);
  }
  .dark\:text-neutral-800 {
    color: var(--color-neutral-800);
  }
  .dark\:text-neutral-900 {
    color: var(--color-neutral-900);
  }
  .dark\:text-neutral-950 {
    color: var(--color-neutral-950);
  }

  .dark\:text-stone-50 {
    color: var(--color-stone-50);
  }
  .dark\:text-stone-100 {
    color: var(--color-stone-100);
  }
  .dark\:text-stone-200 {
    color: var(--color-stone-200);
  }
  .dark\:text-stone-300 {
    color: var(--color-stone-300);
  }
  .dark\:text-stone-400 {
    color: var(--color-stone-400);
  }
  .dark\:text-stone-500 {
    color: var(--color-stone-500);
  }
  .dark\:text-stone-600 {
    color: var(--color-stone-600);
  }
  .dark\:text-stone-700 {
    color: var(--color-stone-700);
  }
  .dark\:text-stone-800 {
    color: var(--color-stone-800);
  }
  .dark\:text-stone-900 {
    color: var(--color-stone-900);
  }
  .dark\:text-stone-950 {
    color: var(--color-stone-950);
  }

  .dark\:text-red-50 {
    color: var(--color-red-50);
  }
  .dark\:text-red-100 {
    color: var(--color-red-100);
  }
  .dark\:text-red-200 {
    color: var(--color-red-200);
  }
  .dark\:text-red-300 {
    color: var(--color-red-300);
  }
  .dark\:text-red-400 {
    color: var(--color-red-400);
  }
  .dark\:text-red-500 {
    color: var(--color-red-500);
  }
  .dark\:text-red-600 {
    color: var(--color-red-600);
  }
  .dark\:text-red-700 {
    color: var(--color-red-700);
  }
  .dark\:text-red-800 {
    color: var(--color-red-800);
  }
  .dark\:text-red-900 {
    color: var(--color-red-900);
  }
  .dark\:text-red-950 {
    color: var(--color-red-950);
  }

  .dark\:text-orange-50 {
    color: var(--color-orange-50);
  }
  .dark\:text-orange-100 {
    color: var(--color-orange-100);
  }
  .dark\:text-orange-200 {
    color: var(--color-orange-200);
  }
  .dark\:text-orange-300 {
    color: var(--color-orange-300);
  }
  .dark\:text-orange-400 {
    color: var(--color-orange-400);
  }
  .dark\:text-orange-500 {
    color: var(--color-orange-500);
  }
  .dark\:text-orange-600 {
    color: var(--color-orange-600);
  }
  .dark\:text-orange-700 {
    color: var(--color-orange-700);
  }
  .dark\:text-orange-800 {
    color: var(--color-orange-800);
  }
  .dark\:text-orange-900 {
    color: var(--color-orange-900);
  }
  .dark\:text-orange-950 {
    color: var(--color-orange-950);
  }

  .dark\:text-amber-50 {
    color: var(--color-amber-50);
  }
  .dark\:text-amber-100 {
    color: var(--color-amber-100);
  }
  .dark\:text-amber-200 {
    color: var(--color-amber-200);
  }
  .dark\:text-amber-300 {
    color: var(--color-amber-300);
  }
  .dark\:text-amber-400 {
    color: var(--color-amber-400);
  }
  .dark\:text-amber-500 {
    color: var(--color-amber-500);
  }
  .dark\:text-amber-600 {
    color: var(--color-amber-600);
  }
  .dark\:text-amber-700 {
    color: var(--color-amber-700);
  }
  .dark\:text-amber-800 {
    color: var(--color-amber-800);
  }
  .dark\:text-amber-900 {
    color: var(--color-amber-900);
  }
  .dark\:text-amber-950 {
    color: var(--color-amber-950);
  }

  .dark\:text-yellow-50 {
    color: var(--color-yellow-50);
  }
  .dark\:text-yellow-100 {
    color: var(--color-yellow-100);
  }
  .dark\:text-yellow-200 {
    color: var(--color-yellow-200);
  }
  .dark\:text-yellow-300 {
    color: var(--color-yellow-300);
  }
  .dark\:text-yellow-400 {
    color: var(--color-yellow-400);
  }
  .dark\:text-yellow-500 {
    color: var(--color-yellow-500);
  }
  .dark\:text-yellow-600 {
    color: var(--color-yellow-600);
  }
  .dark\:text-yellow-700 {
    color: var(--color-yellow-700);
  }
  .dark\:text-yellow-800 {
    color: var(--color-yellow-800);
  }
  .dark\:text-yellow-900 {
    color: var(--color-yellow-900);
  }
  .dark\:text-yellow-950 {
    color: var(--color-yellow-950);
  }

  .dark\:text-lime-50 {
    color: var(--color-lime-50);
  }
  .dark\:text-lime-100 {
    color: var(--color-lime-100);
  }
  .dark\:text-lime-200 {
    color: var(--color-lime-200);
  }
  .dark\:text-lime-300 {
    color: var(--color-lime-300);
  }
  .dark\:text-lime-400 {
    color: var(--color-lime-400);
  }
  .dark\:text-lime-500 {
    color: var(--color-lime-500);
  }
  .dark\:text-lime-600 {
    color: var(--color-lime-600);
  }
  .dark\:text-lime-700 {
    color: var(--color-lime-700);
  }
  .dark\:text-lime-800 {
    color: var(--color-lime-800);
  }
  .dark\:text-lime-900 {
    color: var(--color-lime-900);
  }
  .dark\:text-lime-950 {
    color: var(--color-lime-950);
  }

  .dark\:text-green-50 {
    color: var(--color-green-50);
  }
  .dark\:text-green-100 {
    color: var(--color-green-100);
  }
  .dark\:text-green-200 {
    color: var(--color-green-200);
  }
  .dark\:text-green-300 {
    color: var(--color-green-300);
  }
  .dark\:text-green-400 {
    color: var(--color-green-400);
  }
  .dark\:text-green-500 {
    color: var(--color-green-500);
  }
  .dark\:text-green-600 {
    color: var(--color-green-600);
  }
  .dark\:text-green-700 {
    color: var(--color-green-700);
  }
  .dark\:text-green-800 {
    color: var(--color-green-800);
  }
  .dark\:text-green-900 {
    color: var(--color-green-900);
  }
  .dark\:text-green-950 {
    color: var(--color-green-950);
  }

  .dark\:text-emerald-50 {
    color: var(--color-emerald-50);
  }
  .dark\:text-emerald-100 {
    color: var(--color-emerald-100);
  }
  .dark\:text-emerald-200 {
    color: var(--color-emerald-200);
  }
  .dark\:text-emerald-300 {
    color: var(--color-emerald-300);
  }
  .dark\:text-emerald-400 {
    color: var(--color-emerald-400);
  }
  .dark\:text-emerald-500 {
    color: var(--color-emerald-500);
  }
  .dark\:text-emerald-600 {
    color: var(--color-emerald-600);
  }
  .dark\:text-emerald-700 {
    color: var(--color-emerald-700);
  }
  .dark\:text-emerald-800 {
    color: var(--color-emerald-800);
  }
  .dark\:text-emerald-900 {
    color: var(--color-emerald-900);
  }
  .dark\:text-emerald-950 {
    color: var(--color-emerald-950);
  }

  .dark\:text-teal-50 {
    color: var(--color-teal-50);
  }
  .dark\:text-teal-100 {
    color: var(--color-teal-100);
  }
  .dark\:text-teal-200 {
    color: var(--color-teal-200);
  }
  .dark\:text-teal-300 {
    color: var(--color-teal-300);
  }
  .dark\:text-teal-400 {
    color: var(--color-teal-400);
  }
  .dark\:text-teal-500 {
    color: var(--color-teal-500);
  }
  .dark\:text-teal-600 {
    color: var(--color-teal-600);
  }
  .dark\:text-teal-700 {
    color: var(--color-teal-700);
  }
  .dark\:text-teal-800 {
    color: var(--color-teal-800);
  }
  .dark\:text-teal-900 {
    color: var(--color-teal-900);
  }
  .dark\:text-teal-950 {
    color: var(--color-teal-950);
  }

  .dark\:text-cyan-50 {
    color: var(--color-cyan-50);
  }
  .dark\:text-cyan-100 {
    color: var(--color-cyan-100);
  }
  .dark\:text-cyan-200 {
    color: var(--color-cyan-200);
  }
  .dark\:text-cyan-300 {
    color: var(--color-cyan-300);
  }
  .dark\:text-cyan-400 {
    color: var(--color-cyan-400);
  }
  .dark\:text-cyan-500 {
    color: var(--color-cyan-500);
  }
  .dark\:text-cyan-600 {
    color: var(--color-cyan-600);
  }
  .dark\:text-cyan-700 {
    color: var(--color-cyan-700);
  }
  .dark\:text-cyan-800 {
    color: var(--color-cyan-800);
  }
  .dark\:text-cyan-900 {
    color: var(--color-cyan-900);
  }
  .dark\:text-cyan-950 {
    color: var(--color-cyan-950);
  }

  .dark\:text-sky-50 {
    color: var(--color-sky-50);
  }
  .dark\:text-sky-100 {
    color: var(--color-sky-100);
  }
  .dark\:text-sky-200 {
    color: var(--color-sky-200);
  }
  .dark\:text-sky-300 {
    color: var(--color-sky-300);
  }
  .dark\:text-sky-400 {
    color: var(--color-sky-400);
  }
  .dark\:text-sky-500 {
    color: var(--color-sky-500);
  }
  .dark\:text-sky-600 {
    color: var(--color-sky-600);
  }
  .dark\:text-sky-700 {
    color: var(--color-sky-700);
  }
  .dark\:text-sky-800 {
    color: var(--color-sky-800);
  }
  .dark\:text-sky-900 {
    color: var(--color-sky-900);
  }
  .dark\:text-sky-950 {
    color: var(--color-sky-950);
  }

  .dark\:text-blue-50 {
    color: var(--color-blue-50);
  }
  .dark\:text-blue-100 {
    color: var(--color-blue-100);
  }
  .dark\:text-blue-200 {
    color: var(--color-blue-200);
  }
  .dark\:text-blue-300 {
    color: var(--color-blue-300);
  }
  .dark\:text-blue-400 {
    color: var(--color-blue-400);
  }
  .dark\:text-blue-500 {
    color: var(--color-blue-500);
  }
  .dark\:text-blue-600 {
    color: var(--color-blue-600);
  }
  .dark\:text-blue-700 {
    color: var(--color-blue-700);
  }
  .dark\:text-blue-800 {
    color: var(--color-blue-800);
  }
  .dark\:text-blue-900 {
    color: var(--color-blue-900);
  }
  .dark\:text-blue-950 {
    color: var(--color-blue-950);
  }

  .dark\:text-indigo-50 {
    color: var(--color-indigo-50);
  }
  .dark\:text-indigo-100 {
    color: var(--color-indigo-100);
  }
  .dark\:text-indigo-200 {
    color: var(--color-indigo-200);
  }
  .dark\:text-indigo-300 {
    color: var(--color-indigo-300);
  }
  .dark\:text-indigo-400 {
    color: var(--color-indigo-400);
  }
  .dark\:text-indigo-500 {
    color: var(--color-indigo-500);
  }
  .dark\:text-indigo-600 {
    color: var(--color-indigo-600);
  }
  .dark\:text-indigo-700 {
    color: var(--color-indigo-700);
  }
  .dark\:text-indigo-800 {
    color: var(--color-indigo-800);
  }
  .dark\:text-indigo-900 {
    color: var(--color-indigo-900);
  }
  .dark\:text-indigo-950 {
    color: var(--color-indigo-950);
  }

  .dark\:text-violet-50 {
    color: var(--color-violet-50);
  }
  .dark\:text-violet-100 {
    color: var(--color-violet-100);
  }
  .dark\:text-violet-200 {
    color: var(--color-violet-200);
  }
  .dark\:text-violet-300 {
    color: var(--color-violet-300);
  }
  .dark\:text-violet-400 {
    color: var(--color-violet-400);
  }
  .dark\:text-violet-500 {
    color: var(--color-violet-500);
  }
  .dark\:text-violet-600 {
    color: var(--color-violet-600);
  }
  .dark\:text-violet-700 {
    color: var(--color-violet-700);
  }
  .dark\:text-violet-800 {
    color: var(--color-violet-800);
  }
  .dark\:text-violet-900 {
    color: var(--color-violet-900);
  }
  .dark\:text-violet-950 {
    color: var(--color-violet-950);
  }

  .dark\:text-purple-50 {
    color: var(--color-purple-50);
  }
  .dark\:text-purple-100 {
    color: var(--color-purple-100);
  }
  .dark\:text-purple-200 {
    color: var(--color-purple-200);
  }
  .dark\:text-purple-300 {
    color: var(--color-purple-300);
  }
  .dark\:text-purple-400 {
    color: var(--color-purple-400);
  }
  .dark\:text-purple-500 {
    color: var(--color-purple-500);
  }
  .dark\:text-purple-600 {
    color: var(--color-purple-600);
  }
  .dark\:text-purple-700 {
    color: var(--color-purple-700);
  }
  .dark\:text-purple-800 {
    color: var(--color-purple-800);
  }
  .dark\:text-purple-900 {
    color: var(--color-purple-900);
  }
  .dark\:text-purple-950 {
    color: var(--color-purple-950);
  }

  .dark\:text-fuchsia-50 {
    color: var(--color-fuchsia-50);
  }
  .dark\:text-fuchsia-100 {
    color: var(--color-fuchsia-100);
  }
  .dark\:text-fuchsia-200 {
    color: var(--color-fuchsia-200);
  }
  .dark\:text-fuchsia-300 {
    color: var(--color-fuchsia-300);
  }
  .dark\:text-fuchsia-400 {
    color: var(--color-fuchsia-400);
  }
  .dark\:text-fuchsia-500 {
    color: var(--color-fuchsia-500);
  }
  .dark\:text-fuchsia-600 {
    color: var(--color-fuchsia-600);
  }
  .dark\:text-fuchsia-700 {
    color: var(--color-fuchsia-700);
  }
  .dark\:text-fuchsia-800 {
    color: var(--color-fuchsia-800);
  }
  .dark\:text-fuchsia-900 {
    color: var(--color-fuchsia-900);
  }
  .dark\:text-fuchsia-950 {
    color: var(--color-fuchsia-950);
  }

  .dark\:text-pink-50 {
    color: var(--color-pink-50);
  }
  .dark\:text-pink-100 {
    color: var(--color-pink-100);
  }
  .dark\:text-pink-200 {
    color: var(--color-pink-200);
  }
  .dark\:text-pink-300 {
    color: var(--color-pink-300);
  }
  .dark\:text-pink-400 {
    color: var(--color-pink-400);
  }
  .dark\:text-pink-500 {
    color: var(--color-pink-500);
  }
  .dark\:text-pink-600 {
    color: var(--color-pink-600);
  }
  .dark\:text-pink-700 {
    color: var(--color-pink-700);
  }
  .dark\:text-pink-800 {
    color: var(--color-pink-800);
  }
  .dark\:text-pink-900 {
    color: var(--color-pink-900);
  }
  .dark\:text-pink-950 {
    color: var(--color-pink-950);
  }

  .dark\:text-rose-50 {
    color: var(--color-rose-50);
  }
  .dark\:text-rose-100 {
    color: var(--color-rose-100);
  }
  .dark\:text-rose-200 {
    color: var(--color-rose-200);
  }
  .dark\:text-rose-300 {
    color: var(--color-rose-300);
  }
  .dark\:text-rose-400 {
    color: var(--color-rose-400);
  }
  .dark\:text-rose-500 {
    color: var(--color-rose-500);
  }
  .dark\:text-rose-600 {
    color: var(--color-rose-600);
  }
  .dark\:text-rose-700 {
    color: var(--color-rose-700);
  }
  .dark\:text-rose-800 {
    color: var(--color-rose-800);
  }
  .dark\:text-rose-900 {
    color: var(--color-rose-900);
  }
  .dark\:text-rose-950 {
    color: var(--color-rose-950);
  }
}
